.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding: 15px 30px;
}

.logo img {
  height: 50px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

  .nav a:hover {
    color: #8f8ddf;
  }

